/* to  hide add button*/
.bZDKWX .shaRW{
    display:none;
  }

/* to customize kepler panel*/
.bZDKWX .bbomwh {
  padding:12px 0px 0px 12px;
}
.bZDKWX .fBrZjB,.egtnVO .bSxLFN{
margin-right:8px;
}

.bZDKWX .eYlPLC{
margin-top:20px;
}

/* to customize 3-D, split view
.bZDKWX .fCmSvg{
  width:unset;
  padding-right:259px;
}

*/
