@import '../../styles/app';

.chartMargin {
   margin: 2%;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{
 .chartResize {
    width:28vh;
    height:25vh;
 }
}

@media only screen and (min-device-width : 1366px) 
{
 .chartResize {
   width:35vh;
   height:25vh;
 }
}