@import '../../styles/app';


.chartMargin {
   margin: 2%;
}

.keplerLogo {
   text-align: center;
}

.keplerLogo img {
    width: 50%;
}

.keplerLogo span {
    color: white;
    margin-left: 2%;
  }