@import '../../styles/app';

.charts{
    height: 60%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.chartMargin {
   margin: 2%;
}

.keplerLogo {
   text-align: center;
}

.keplerLogo img {
    width: 50%;
}

.keplerLogo span {
    color: white;
    margin-left: 2%;
  }